<div class="col-sm-12">
    <table class="table table-striped" style="border: 1px solid gainsboro">
        <thead>
        <tr>
            <th ng-repeat="th in data.thead">{{ th }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tr in data.tbody track by $index">
            <td ng-repeat="td in tr track by $index">{{ td }}</td>
        </tr>
        </tbody>
    </table>
    <div>
        <div class="col-lg-3 col-lg-offset-5">
            <p style="height: 40px;text-align: center;line-height: 40px;margin-top: 10px">共6页，每页显示5条</p>
        </div>
        <div class="col-lg-4">
            <ul class="pagination" style="margin: 10px auto"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#"><</a></li><li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">2</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">3</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">4</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">5</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">6</a></li><li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">></a></li></ul>

        </div>

    </div>
</div>