
<div class="panel panel-default" style="width: 400px">
    <div class="panel-heading" style="background: #fff">
        <p >提示信息</p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p style="height: 150px;text-align: center;line-height: 75px">您确定删除这条记录吗？</p>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default btn-danger" ng-click="vm.mainService.ensureDelete()">确认</button>
        <button class="btn btn-default" ng-click="vm.mainService.ensureDelete()">取消</button>
    </div>
</div>