
    <div xcj-path path1="班级管理" path2="分配老师"></div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped" style="border: 1px solid gainsboro">
                <thead>
                <tr>
                    <th ng-repeat="th in data.thead">{{ th }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tr in data.tbody track by $index">
                    <td ng-repeat="td in tr track by $index">{{ td }}</td>
                    <td><button class="btn btn-danger"> 删除</button></td>
                </tr>
                </tbody>
            </table>
            <div xcj-pagination>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-sm-offset-1">
            <button class="btn btn-default btn-block">返回</button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-success btn-block">保存</button>
        </div>
        <div class="col-sm-1 col-sm-offset-3">
            <button class="btn btn-success btn-block" ng-click="vm.choice_teacher()">选择老师</button>
        </div>
    </div>
