
    <div xcj-path path1="资源管理" path2="课件资源"></div>
    <div class="row">
        <div class="col-sm-11 ">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">search</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  placeholder="请输入课程名称">
                        <div class="input-group-addon" style="background: #33bb33;color:#fff">搜索</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>课程编号</label>
                    <input type="text" class="form-control" placeholder="请输入课程编号" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success">同步</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-12">
            <div resource-table></div>
        </div>
    </div>

