
<div xcj-path path1="人员管理" path2="教师管理"></div>

    <div class="row">
        <div class="col-sm-12">
            <form class="navbar-form" role="search" id="formss">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="请输入学生姓名" ng-model="search">
                    <span ng-click="" class="input-group-addon" style="background: #33bb33;color:#fff">搜索</span>
                </div>
                <div class="form-group" style="margin-left: 30px">
                    <a class="btn btn-success" style="margin: auto 10px">新增</a>
                    <button type="button" id="delButton" class="btn btn-danger"  data-toggle="modal" data-target="#deleteModal" ng-click="vm.delete()">删除</button>
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <table class="table table-responsive" style="border-top: 1px solid gainsboro;border-bottom: 1px solid gainsboro;margin-bottom: 0">
                <thead>
                <tr>
                    <th><input type="checkbox"/></th>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>性别</th>
                    <th>手机号</th>
                    <th>是否禁用</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>1</td>
                    <td>称大陆</td>
                    <td>122222226@126.com</td>
                    <td>男</td>
                    <td>12345678901</td>
                    <td>否</td>
                    <td>
                        <button class="btn btn-sm btn-default" ng-click="vm.changeInfo()"><span class="fa fa-edit"></span> 修改</button>
                        <button class="btn btn-sm btn-default" ng-click="vm.changepw()"><span class="fa fa-unlock-alt"></span> 修改密码</button>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>1</td>
                    <td>称大陆</td>
                    <td>122222226@126.com</td>
                    <td>男</td>
                    <td>12345678901</td>
                    <td>否</td>
                    <td>
                        <button class="btn btn-sm btn-default"><span class="fa fa-edit"></span> 修改</button>
                        <button class="btn btn-sm btn-default"><span class="fa fa-unlock-alt"></span> 修改密码</button>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>1</td>
                    <td>称大陆</td>
                    <td>122222226@126.com</td>
                    <td>男</td>
                    <td>12345678901</td>
                    <td>否</td>
                    <td>
                        <button class="btn btn-sm btn-default"><span class="fa fa-edit"></span> 修改</button>
                        <button class="btn btn-sm btn-default"><span class="fa fa-unlock-alt"></span> 修改密码</button>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>1</td>
                    <td>称大陆</td>
                    <td>122222226@126.com</td>
                    <td>男</td>
                    <td>12345678901</td>
                    <td>否</td>
                    <td>
                        <button class="btn btn-sm btn-default"><span class="fa fa-edit"></span> 修改</button>
                        <button class="btn btn-sm btn-default"><span class="fa fa-unlock-alt"></span> 修改密码</button>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>1</td>
                    <td>称大陆</td>
                    <td>122222226@126.com</td>
                    <td>男</td>
                    <td>12345678901</td>
                    <td>否</td>
                    <td>
                        <button class="btn btn-sm btn-default"><span class="fa fa-edit"></span> 修改</button>
                        <button class="btn btn-sm btn-default"><span class="fa fa-unlock-alt"></span> 修改密码</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div xcj-pagination>

            </div>
        </div>

    </div>


