
    <div xcj-path path1="资源管理" path2="视频资源"></div>
    <div class="row">
        <div class="col-sm-11">
            <form class="form-inline" style="margin-left: 30px">
                <div class="form-group">
                    <label class="sr-only">search</label>
                    <div class="input-group">
                        <input type="text" class="form-control"  placeholder="请输入视频名称">
                        <div class="input-group-addon" style="background: #33bb33;color:#fff">搜索</div>
                    </div>
                </div>
                <div class="form-group" style="margin-left: 30px">
                    <button class="btn btn-success">上传</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger">删除</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-12">
            <table class="table" style="border-top: 1px solid gainsboro;border-bottom: 1px solid gainsboro">
                <thead>
                <tr>
                    <th><input type="checkbox"/></th>
                    <th ng-repeat="th in vm.video_list.thead">{{ th }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tr in vm.video_list.tbody track by $index">
                    <td><input type="checkbox"/></td>
                    <td ng-repeat="td in tr track by $index">{{ td }}</td>
                    <td>
                        <button class="btn btn-default"><span class="fa fa-eye"></span> 浏览</button>
                        <button class="btn btn-default"><span class="fa fa-edit"></span> 修改</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <div class="col-lg-3 col-lg-offset-5">
                    <p style="height: 40px;text-align: center;line-height: 40px;margin-top: 10px">共6页，每页显示5条</p>
                </div>
                <div class="col-lg-4">
                    <ul class="pagination" style="margin: 10px auto"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#"><</a></li><li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">2</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">3</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">4</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">5</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">6</a></li><li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">></a></li></ul>

                </div>

            </div>
        </div>
    </div>
